<!DOCTYPE html>
<html>
<head>
<style>
img {
  border: 5px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color: #FBF3DB;">

<h1 style="color:blue"> IRIS SPECIES CLASSIFICATION TOOLS</h1>


<div class="row">
  <div class=" 'col 12 m10 offset- ml center">
    <p style="color:blue; font-size:30px">Identifying Iris Setosa, Versicolor & Virginica Species</p>
    <img src="./static/title.png" alt="Title"  width="460" height="200" class="center" style="width:500px">
    <a href="{{url_for('index')}}" class = 'btn btn-small waves-effect waves-dark'>Back</a>
   
  </div>
</div>


</html>